{% extends "layout.html" %}
{% block content %}
    {% for train in form %}
        <div class="train" >
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post['user_name'] }}</a>
                    <small class="text-muted">{{ post['post_date'] }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('post', postid=post['post_id']) }}">{{ post['title'] }}</a></h2>
                <p class="article-content">{{ post['content'] }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content%}