{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Search Trains</legend>
                <small class="border-bottom mb-10">Know current status of your Train Ticket and chances of W/L confirmation</small>
                <div class="form-group">
                    {{ form.pnr_no.label(class="form-control-label") }}
                    {% if form.pnr_no.errors %}
                        {{ form.pnr_no(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pnr_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pnr_no(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content%}