{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend >Search Trains</legend>
                <small class="border-bottom mb-4">Get list of all trains passing from a station. Check Station’s rating on Cleanliness, Safety and food.</small>
                <div class="form-group">
                    {{ form.station.label(class="form-control-label") }}
                    {% if form.station.errors %}
                        {{ form.station(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.station.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.station(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content%}