{% extends "layout.html" %}
{% block content %}
    <div class="c-section">
        <h2>{{ station_name }} railway station</h2>
        <p class="border-bottom mb-4">all trains stopping at this station</p>
        <table>
            <tr>
                <th>Train no</th>
                <th>Train name</th> 
                <th>From</th>
                <th>To</th>
                <th>Arrives</th>
                <th>Departs</th>
                <th>Stop time</th>
              </tr>
            {% for info in details %}
                <tr>
                    <td>{{ info['train_no'] }}</td>
                    <td><a href="#">{{ info['train_name'] }}</a></td>
                    <td><a class="text-uppercase" href="{{ url_for('station_details',station =info['source_name']) }}">{{ info['source_name'] }}</a></td>
                    <td><a class="text-uppercase" href="{{ url_for('station_details',station =info['destination_name']) }}">{{ info['destination_name'] }}</a></td>
                    <td>{{ info['arrival_time'] }}</td>
                    <td>{{ info['departure_time'] }}</td>
                    <td>{{ info['stop_time'] }}</td>
                </tr>  
            {% endfor %}
        </table>
    </div>
{% endblock content%}