{% extends "layout.html" %}
{% block content %}
    <h2>{{ station_name }} railway station</h2>
    <p>all trains stopping at this station</p>
    <div class="content-section">
        <legend class="border-bottom mb-4">Search Trains</legend>
        <table style="width:115%">
            <tr>
                <th>Train no</th>
                <th>Train name</th> 
                <th>From</th>
                <th>To</th>
                <th>Arrives</th>
                <th>Departs</th>
                <th>Stop time</th>
              </tr>
            {% for info in details %}
                <tr>
                    <td>{{ info['train_no'] }}</td>
                    <td>{{ info['train_name'] }}</td>
                    <td>{{ info['source_name'] }}</td>
                    <td>{{ info['destination_name'] }}</td>
                    <td>{{ info['arrival_time'] }}</td>
                    <td>{{ info['departure_time'] }}</td>
                    <td>{{ info['stop_time'] }}</td>
                </tr>  
            {% endfor %}
        </table>
    </div>
{% endblock content%}